﻿@using System.Web
@model CatalogViewModel
@{
    ViewData["Title"] = "Автозапчасти";
}

<div class="container-fluid">
    <div class="row block-margin" id="bread-block" style="display: none">
        <ol class="breadcrumb">
            <li>
                <a href="/">Автозапчасти</a>
            </li>
            <li>
                <a id="bread-maker" style="display: none" href=""></a>
            </li>
            <li>
                <a id="bread-model" style="display: none;" href=""></a>
            </li>
        </ol>
    </div>
    <div class="row block-margin">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label id="mark-model-btn" class="btn btn-primary active">
                <input type="radio" name="options" id="mark-model-option" autocomplete="off" checked> Марки / модели
            </label>
            <label id="parts-btn" class="btn btn-primary">
                <input type="radio" name="options" id="parts-option" autocomplete="off"> Наименования запчастей
            </label>
        </div>
    </div>

    <div id="mark-model-block" class="row block-margin">
        <div id="mark-block">
            <div class="media">


                @foreach (var maker in Model.Makers)
                {
                    <div style="display: inline-block;">
                        <a class="btn btn-outline-dark mark-item" data-maker="@maker.Name.ToLower()" href="/@maker.Name.ToLower()/">
                            <img class="media-object" style="margin: 0 auto;" src="@maker.PhotoUrl">
                            @maker.Name</a>
                    </div>
                }
            </div>
        </div>
        <div id="model-block">
            @foreach (var mod in Model.Models)
            {
                <a class="btn btn-outline-dark model-item" data-maker="@mod.MakerName.ToLower()" data-model="@mod.ModelName.ToLower()" href="/@mod.MakerName.ToLower()/@mod.ModelName.ToLower()/">@mod.ModelName</a>
            }
        </div>

    </div>
    <div id="parts-block" class="row block-margin" style="display: none;">
        <div id="all-parts-block">
            @foreach (var partTypeGroup in Model.AllPartTypes)
            {
                <div>
                    <div>@partTypeGroup.StartWord.ToUpper()</div>
                    <div>
                        @foreach (var partType in partTypeGroup.PartTypes)
                        {
                            <a href="/makers/all/models/all/detailtype/@HttpUtility.UrlEncode(partType.PartTypeName).Replace('+', '_')/kuzovs/all/motors/all">@partType.PartTypeName</a>
                        }
                    </div>
                </div>
            }
        </div>
        <div id="grouped-parts-block" style="display: none;">
            @foreach (var partTypeGroup in Model.GroupedPartTypes)
            {
                <div class="maker-model-parts" data-maker="@partTypeGroup.Maker.ToLower()" data-model="@partTypeGroup.Model.ToLower()">
                    @foreach (var makerModelPart in partTypeGroup.Parts)
                    {
                        <div>
                            <div>@makerModelPart.StartWord</div>
                            <div>
                                @foreach (var partType in @makerModelPart.PartTypes)
                                {
                                    <a href="makers/@HttpUtility.UrlEncode(partType.Maker.Name).Replace('+', '_')/models/@HttpUtility.UrlEncode(partType.Model.ModelName).Replace('+', '_')/detailtype/@HttpUtility.UrlEncode(partType.PartTypeName).Replace('+', '_')/kuzovs/all/motors/all">@partType.PartTypeName</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

