@using System.Web
@model Data.Services.Parts.PartContract

<div class="container">
    <div class="row block-margin">
        <ol class="breadcrumb">
            <li>
                <a href="/">Автозапчасти</a>
            </li>
            <li>
                <a href="/makers/@Model.Make/models/all/detailtype/all/kuzovs/all/motors/all">@Model.Make.ToUpper()</a>
            </li>
            <li>
                <a href="/makers/@Model.Make/models/@Model.Model/detailtype/all/kuzovs/all/motors/all">@Model.Make.ToUpper() @Model.Model.ToUpper()</a>
            </li>
            <li>
                <a href="/makers/@Model.Make/models/@Model.Model/detailtype/@HttpUtility.UrlEncode(Model.Title).Replace('+', '_')/kuzovs/all/motors/all">@Model.Model.ToUpper() @Model.Title.ToUpper()</a>
            </li>
        </ol>
    </div>
    <div class="row block-margin">
        <div class="col-md-6">
            <div class="thumbnail">
                @foreach (var partPhotos in @Model.Photos.Split(","))
                {
                    <div class="img-item">
                        <img class="media-object" src="@partPhotos"/>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h2> @string.Format("{0} {1} {2} {3} {4}", Model.Title, Model.Make, Model.Model, Model.Engine, Model.Year).ToUpper()</h2>
                </div>
                <p>
                    Кузов: <span class="label label-info">@Model.Kuzov</span>
                </p>
                <p>
                    Двигатель: <span class="label label-info">@Model.Engine</span>
                </p>
                <p>
                    OEM-номер: <span class="label label-info">@Model.Oem</span>
                </p>
                <p>
                    Цена: <span class="label label-info">@Model.Price</span>
                </p>
                <p>
                    @Model.Comment
                </p>
            </div>
        </div>
    </div>
</div>