@using Microsoft.EntityFrameworkCore.Internal
@using Web.Utility
@model SearchViewModel
@{
    ViewData["Title"] = "Поиск";
}

<div class="container-fluid">
<div class="row block-margin">
    <ol class="breadcrumb">
        <li>
            <a href="/">Автозапчасти</a>
        </li>
        @if (Model.SelectedMaker != null)
        {
            <li>
                <a href="/makers/@Model.SelectedMaker/models/all/detailtype/all/kuzovs/all/motors/all">@Model.SelectedMaker.ToUpper()</a>
            </li>
        }

        @if (Model.SelectedModels != null)
        {
            <li>
                <a href="/makers/@Model.SelectedMaker/models/@Model.SelectedModels.FirstOrDefault()/detailtype/all/kuzovs/all/motors/all">@Model.SelectedMaker.ToUpper() @Model.SelectedModels.FirstOrDefault().ToUpper()</a>
            </li>
        }
    </ol>
</div>
<div class="row block-margin">
    <div class="col-md-2">
        <div class="dropdown">
            <button style="width: 100%;" class="btn btn-default   dropdown-toggle" type="button" id="dropdownMaker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div style="float: left">@(Model.SelectedMaker ?? "Марка")</div>
                <div style="float: right; margin-top: 10px;" class="caret"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuMaker">
                @foreach (var maker in Model.Makers)
                {
                    if (maker.Name == Model.SelectedMaker)
                    {
                        <li class="active">
                            <a href="/makers/@maker.Name/models/all/detailtype/all/kuzovs/all/motors/all">@maker.Name</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/makers/@maker.Name/models/all/detailtype/all/kuzovs/all/motors/all">@maker.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button style="width: 100%;" class="btn btn-default   dropdown-toggle" type="button" id="dropdownModel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div style="float: left">@(Model.SelectedModels != null ? Model.SelectedModels.Join() : "Модель")</div>
                <div style="float: right; margin-top: 10px;" class="caret"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownModel">
                @if (Model.SelectedMaker != null)
                {
                    <li>
                        <button id="btn-model-filter" class="btn">Показать</button>
                    </li>
                    <li>
                        <button class="btn keep-open btn-model-all">Выбрать все</button>
                    </li>
                    foreach (var mod in Model.Models)
                    {
                        <li class="checkbox keep-open model-checkbox">
                            @if (Model.SelectedModels != null && Model.SelectedModels.Select(x => x.ToLower()).Contains(mod.ToLower()))
                            {
                                <label>
                                    <input type="checkbox" checked value="@mod.ToLower()">@mod
                                </label>
                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" value="@mod.ToLower()">@mod
                                </label>
                            }
                        </li>
                    }
                }
                else
                {
                    <li>
                        <span>
                            Выберите марку прежде чем выбрать модель
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dropdown">
            <button style="width: 100%;" class="btn btn-default   dropdown-toggle" type="button" id="dropdownDetailTypes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div style="float: left">@(Model.SelectedDetailType ?? "Наименование запчасти")</div>
                <div style="float: right; margin-top: 10px;" class="caret"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownDetailTypes">

                @foreach (var detailType in Model.DetailTypes)
                {
                    <li class="dropdown-header">@detailType.StartWord.ToUpper()</li>
                    foreach (var type in detailType.PartTypes)
                    {
                        <li>
                            <a href="@PageViewUtility.GetSearchUrl(Model.SelectedMaker, Model.SelectedModels, type.PartTypeName, Model.SelectedKuzovs, Model.SelectedMotors)">@type.PartTypeName</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button style="width: 100%;" class="btn btn-default   dropdown-toggle" type="button" id="dropdownKuzov" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div style="float: left">@(Model.SelectedKuzovs != null ? Model.SelectedKuzovs.Join() : "Кузов")</div>
                <div style="float: right; margin-top: 10px;" class="caret"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownKuzov">
                @if (Model.SelectedMaker != null)
                {
                    <li>
                        <button id="btn-kuzov-filter" class="btn">Показать</button>
                    </li>
                    <li>
                        <button class="btn keep-open btn-kuzov-all">Выбрать все</button>
                    </li>
                    foreach (var mod in Model.Kuzovs)
                    {
                        <li class="checkbox keep-open kuzov-checkbox">
                            @if (Model.SelectedKuzovs != null && Model.SelectedKuzovs.Contains(mod))
                            {
                                <label>
                                    <input type="checkbox" checked value="@mod.ToLower()">@mod
                                </label>
                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" value="@mod.ToLower()">@mod
                                </label>
                            }
                        </li>
                    }
                }
                else
                {
                    <li>
                        <span>
                            Выберите марку прежде чем выбрать кузов
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button style="width: 100%;" class="btn btn-default   dropdown-toggle" type="button" id="dropdownMotor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div style="float: left">@(Model.SelectedMotors != null ? Model.SelectedMotors.Join() : "Мотор")</div>
                <div style="float: right; margin-top: 10px;" class="caret"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownKuzov">
                @if (Model.SelectedMaker != null)
                {
                    <li>
                        <button id="btn-motor-filter" class="btn">Показать</button>
                    </li>
                    <li>
                        <button class="btn keep-open btn-motor-all">Выбрать все</button>
                    </li>
                    foreach (var mod in Model.Motors)
                    {
                        <li class="checkbox keep-open motor-checkbox">
                            @if (Model.SelectedMotors != null && Model.SelectedMotors.Contains(mod))
                            {
                                <label>
                                    <input type="checkbox" checked value="@mod.ToLower()">@mod
                                </label>
                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" value="@mod.ToLower()">@mod
                                </label>
                            }
                        </li>
                    }
                }
                else
                {
                    <li>
                        <span>
                            Выберите марку прежде чем выбрать мотор
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="row block-margin">
    <div class="container">
        @{
            int i = 0;
            foreach (var part in Model.Parts)
            {
                if (i % 2 == 0)
                {
                    @Html.Raw("<div class='row'>")
                }
                i++;
                <div class="col-md-6">
                    <div class="thumbnail">

                        <div class="img-item">
                            @if (part.Photos.Split(',').Select(x => x.Trim()).FirstOrDefault() != string.Empty)
                            {
                                <img class="media-object" src="@part.Photos.Split(',').Select(x => x.Trim()).FirstOrDefault()"/>
                            }
                            else
                            {
                                <img class="media-object" src="https://freedesignfile.com/upload/2016/04/Creative-car-parts-background-vector-04.jpg"/>
                            }
                        </div>
                        <div class="caption">
                            <a href="/parts/@part.Id"> @string.Format("{0} {1} {2} {3} {4}", part.Title, part.Make, part.Model, part.Engine, part.Year).ToUpper()</a>
                        </div>
                    </div>
                </div>

                if (i % 2 == 0)
                {@Html.Raw("</div>")
                }
            }
        }
    </div>
</div>
</div>